<h1>Products</h1>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product) %>, Average Rating: <%= product.average_rating %></li>
  <% end %>
</ul>

<hr>

<%= link_to "Add a Product", new_product_path %>
